h1 {
    text-align: center;
    font-family: cursive;
    font-weight: 200;
    color: aliceblue ;
}

.mudarCorDeFundo {
    background-color:midnightblue;
}

.botoes {
    text-align: center;
}

.blocoClicavel {
    display: block; /* Faz o link preencher toda a largura do contêiner pai */
    padding: 20px; /* Espaçamento interno para tornar o bloco maior */
    margin: 10px 0; /* Margem externa para espaço entre elementos */
    background-color:steelblue; /* Cor de fundo */
    color: #c8c5aa; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    text-decoration: none; /* Remove o sublinhado do link */
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s; /* Efeito suave ao mudar a cor de fundo */
}

.blocoClicavel:hover {
    background-color:cornflowerblue; /* Cor de fundo ao passar o mouse */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px; 
}

img {
    border-radius: 360px;
    height: 150px;
    width: 150px;
}